<?xml version="1.0"?>
<config>
    <modules>
        <Rubik_HelloWorld>
            <version>0.1.0</version>
        </Rubik_HelloWorld>
    </modules>
<!-- Block of the Module -->
    <global>
            <blocks>
            <!-- Emri i modulit "hello" -->
                <hello>
                    <class>Rubik_HelloWorld_Block</class>
                </hello>
            </blocks>
    </global>
<!-- ROUTERS -->
    <frontend>
        <routers>
            <hello>
                <use>standard</use>
                <args>
                    <module>Rubik_HelloWorld</module>
                    <frontName>hello</frontName>
                </args>
            </hello>
        </routers>
<!-- LAYOUT -->
        <layout>
            <updates>
                    <hello>
                        <file>helloworld.xml</file>
                    </hello>
            </updates>
        </layout>
    </frontend> 
</config>